html{
    font-size: 20px;
    font-family: "Open Sans";
    background-image: url('../images/bg.png');
    background-size: cover;
}
html::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
}
p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color:pink;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 5px black;
    font-size: 60px;
    text-align: center;
}
body{
    width: 75%;
    margin: 20px auto;
    padding: 0 20px 20px 20px;
    background-color: rgba(154, 154, 154, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "avatar header"
        "status sites"
        "tags projects"
        "timeline skills";
    grid-gap: 20px;
}
img{
    display: block;
    margin: 0 0;
    width: 100%;
}
.avatar {
    border-radius: 50%;
    object-fit: cover;
    grid-area: avatar;
}
.status{
    grid-area: status;
    border-radius: 10px;
    background-color: rgba(92, 92, 92, 0.2);
    border: 1px solid white;
}
.status p{
    text-align: center;
}